############################################
#  Lemon Grove                             #
#  https://github.com/tajmone/lemon-grove  #
############################################

* text=auto

## Source Files
################
*.c   text
*.h   text
*.y   text

## Make files
#############
[Mm]akefile     text eol=lf
[Mm]akefile*    text eol=lf
[Mm]akefile.*   text eol=lf

## Shell Scripts
################
*.bat   text eol=crlf
*.cmd   text eol=crlf
*.sh    text eol=lf
*.ps1   text eol=crlf

## Documentation Files
######################
*.adoc         text
*.asciidoc     text
*.docx         binary
*.markdown     text
*.md           text
*.odt          binary
*.pdf          binary
*.txt          text
*COPYRIGHT*    text
*README*       text
AUTHORS        text
CHANGELOG      text
CHANGES        text
CONTRIBUTING   text
COPYING        text
copyright      text
INSTALL        text
license        text
LICENSE        text
NEWS           text
readme         text

## Repository Configuration
###########################
.editorconfig    text eol=lf
.gitlab-ci.yml   text eol=lf
.travis.yml      text eol=lf
.gitattributes   text eol=lf
.gitconfig       text eol=lf
.gitignore       text eol=lf
.gitmodules      text eol=lf

## Image & Graphics Files
#########################
*.bmp        binary
*.gif        binary
*.ico        binary
*.jpeg       binary
*.jpg        binary
*.png        binary
*.svg        binary

# EOF #
